name: "Bidding and Listing"
on:
  # schedule:
  # - cron: "5,15,25,35,45,55 * * * *"
  workflow_dispatch: {}

jobs:
  actions:
    runs-on: ubuntu-22.04
    permissions: write-all
    timeout-minutes: 10
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v4"
      
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
      
      - name: Install pip
        run: |
          python -m ensurepip --upgrade
      
      - name: Install dependencies with pip
        run: |
          pip install -r requirements.txt
      
      - name: Get offer and listing messages
        id: get_messages
        env:
            ADDRESS: ${{ secrets.ADDRESS }}
            API_KEY: ${{ secrets.API_KEY }}
            API_KEY_2: ${{ secrets.API_KEY_2 }}
            API_KEY_3: ${{ secrets.API_KEY_3 }}
            ETHEREUM_RPC: ${{ secrets.ETHEREUM_RPC }}
            POLYGON_RPC: ${{ secrets.POLYGON_RPC }}
            BASE_RPC: ${{ secrets.BASE_RPC }}
            ARBITRUM_RPC: ${{ secrets.ARBITRUM_RPC }}
            URL_MONGODB: ${{ secrets.URL_MONGODB }}
            WORKER: ${{ vars.WORKER }}
        run: |
          python3 main.py
          echo "## Getting messages" >> $GITHUB_STEP_SUMMARY
          echo "✅ Passed" >> $GITHUB_STEP_SUMMARY

      - name: Create orders
        if: steps.get_messages.outcome == 'success'
        env:
            ADDRESS: ${{ secrets.ADDRESS }}
            API_KEY: ${{ secrets.API_KEY }}
            PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
            ETHEREUM_RPC: ${{ secrets.ETHEREUM_RPC }}
            POLYGON_RPC: ${{ secrets.POLYGON_RPC }}
            BASE_RPC: ${{ secrets.BASE_RPC }}
            ARBITRUM_RPC: ${{ secrets.ARBITRUM_RPC }}
        run: |
          python3 create_order.py
          echo "## Sending orders" >> $GITHUB_STEP_SUMMARY
          echo "✅ Passed" >> $GITHUB_STEP_SUMMARY

      - name: Execute delegator
        env:
            API_KEY_4: ${{ secrets.API_KEY_4 }}
            URL_R: ${{ secrets.URL_R }}
            ID_R: ${{ secrets.ID_R }}
        run: |
          python3 delegator.py
          echo "## Executing delegator" >> $GITHUB_STEP_SUMMARY
          echo "✅ Passed" >> $GITHUB_STEP_SUMMARY
